<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View property</title>
           <!-- /////firebase//// -->

  <script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-firestore.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-storage.js"></script>
  <script>
    var firebaseConfig = {
      apiKey: "AIzaSyBv8smcSq6KUFImtYKIAWWZ0PgE3FDqS3s",
      authDomain: "dev-roomlelo.firebaseapp.com",
      databaseURL: "https://dev-roomlelo.firebaseio.com",
      projectId: "dev-roomlelo",
      storageBucket: "dev-roomlelo.appspot.com",
      messagingSenderId: "450187201766",
      appId: "1:450187201766:web:9a14dcd60b4b5101e93f27"
    };
    firebase.initializeApp(firebaseConfig);
    //  var db = firebase.database();
    //  console.log(db)

  </script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <!-- /////firebase//// -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-dark bg-primary text-center">
        <p class="navbar-brand " style="font-size: 3.25rem;"><span class="glyphicon glyphicon-cog"></span> Roomlelo Admin site</p>
    </nav>
    <div class="alert alert-primary text-center mx-5" role="alert">
       <h1> Main Property List
       </h1>
    </div>
    <div id="app">
        <div class="container-fluid mt-5">
   

        <div class="row">
            <div class="col-2">
                <ul class="list-group">
                    <a class="list-group-item " style="outline: thin;" href="../index.html">Dashboard</a>
                    <a class="list-group-item" style="outline: thin;" href="propertyUploader.html">Property uploader</a>
                    <a class="list-group-item" href="propertyUpdater.html">Property update</a>
                    <!-- <a class="list-group-item" href="visit.html">Sheduled Visit</a> -->
                    <a class="list-group-item " href="visit.html">Scheduled visits</a>
                    <a class="list-group-item" href="propertyVisit.html">enlishment request</a>
                    <!-- <a class="list-group-item " href="propertyManagerProperty.html">Property Manager Property</a> -->
                    <a class="list-group-item " href="viewProperty.html">acquisition request</a>
                    <a class="list-group-item  " href="referedTenant.html">Refer Tenant</a>
                    <a class="list-group-item " href="referedOwner.html">Refer Owner</a>
                    <a class="list-group-item active" href="mainPropertyView.html">Main properties List</a>
                    <a class="list-group-item " href="userProfileView.html">User Profile View</a>
                    <a class="list-group-item" href="additionalVisit.html">book a  Visit</a>
                  
                  </ul>
            </div> 
            <div id="propertyList" class="col-8">
                <table class="table table-hover table-striped">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">S.No</th>
                        <th scope="col">Property ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Location</th>
                        <th scope="col">Property Manager</th>
                        <th scope="col">Owner Name</th>
                        <th scope="col">Room type</th>
                        <th scope="col">property  type</th>
                      </tr>
                    </thead>
                    <tbody id="propertyTable">    
                        <tr v-for="(prop,ind) in allProperties" >
                             <td >{{ind+1}}</td>   
                             <td >{{prop.id}}</td>   
                             <td>{{prop.name}}</td>   
                             <td>{{prop.location}}</td>   
                             <td>{{prop.manager}}</td>   
                             <td>{{prop.ownerName}}</td>   
                             <td>{{prop.type}}</td>   
                             <td>{{prop.propertyType}}</td>
                             <td><button class="btn btn-info" type="button" @click="show(prop.id)">view</button></td>

                        </tr>
                    </tbody>    
                </table>
            </div>
        
       <div class="col-8" id="propertyShow" style="display: none;">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item " v-for="(photo,ind) in property.photos" :class="{'active':ind==0}">
                <img :src="photo" class="d-block w-50 mx-auto" alt="...">
              </div>
              
            </div>
            <a class="carousel-control-prev bg-dark" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next bg-dark" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>

        <div class="card" >
            <div class="card-body">
                <h3 style="display:inline;">{{property.name}}</h3>
                <h6 class="card-subtitle mb-xl-3 mb-2 text-muted">{{property.location}}</h6>
                <span style="font-size:2.0rem;color:red">About the Property</span>
                <p class="card-text" style="font-size:20px">{{property.shortDescription}}</p>
                <h6 style="text-decoration: underline;" class="text-info">{{bed}} Bedrooms are
                    available only for {{property.forWhom}} </h6>

                    <!-- <h4>Property Manager name: <span class="text-info " style="float: right;margin-right: 600px;"> {{property.manager}}</span></h4>   
                    <h4>number of rooms in property: <span class="text-info " style="float: right;margin-right: 600px;">{{property.numberOfProperty}}</span></h4>   
                    <h4>Property Manager phone number: <span class="text-info" style="float: right;margin-right: 600px;">{{property.PMPhonenumber}}</span></h4>   
                    <h4>owner Name:<span class="text-info" style="float: right;margin-right: 600px;"> {{property.ownerName}}</span></h4>   
                    <h4>owner phone number:<span class="text-info" style="float: right;margin-right: 600px;"> {{property.ownerNumber}}</span></h4>   
                    <h4>Property Charge to company: <span class="text-info" style="float: right;margin-right: 600px;">{{property.companyCharge}}</span></h4>   
                    <h4>owner security Deposit: <span class="text-info" style="float: right;margin-right: 600px;">{{property.ownerSecurityDeposit}}</span></h4>   
                    <h4>Number of booked rooms: <span class="text-info" style="float: right;margin-right: 600px;">{{property.bookedRooms}}</span></h4>   
                    <h4>Number of Vacant rooms: <span class="text-info" style="float: right;margin-right: 600px;">{{property.numberOfProperty-property.bookedRooms}}</span></h4>    -->
                     <div class="row">
                         <div class="col-8">
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">Col-1</th>
                            <th scope="col">Col-2</th>
                          </tr>
                        </thead>
                        <tbody id="seenTable"> 
                            <tr >
                                <td>House name</td>
                                <td>{{property.name}}</td>
                            </tr>   
                            <tr >
                                <td>Location</td>
                                <td>{{property.location}}</td>
                            </tr>   
                            <tr >
                                <td>Property Manager name</td>
                                <td>{{property.manager}}</td>
                            </tr>   
                            <tr >
                                <td>number of rooms in property</td>
                                <td>{{property.numberOfProperty}}</td>
                            </tr>   
                            <tr >
                                <td>Property Manager phone number</td>
                                <td>{{property.PMPhonenumber}}</td>
                            </tr>   
                            <tr >
                                <td>owner Name</td>
                                <td>{{property.ownerName}}</td>
                            </tr>   
                            <tr >
                                <td>owner phone number</td>
                                <td>{{property.ownerNumber}}</td>
                            </tr>   
                            <tr >
                                <td>Property Charge to company</td>
                                <td>{{property.companyCharge}}</td>
                            </tr>   
                            <tr >
                                <td>owner security Deposit</td>
                                <td>{{property.ownerSecurityDeposit}}</td>
                            </tr>   
                            <tr >
                                <td>Number of Booked rooms</td>
                                <td>{{property.bookedRooms}}</td>
                            </tr>   
                            <tr >
                                <td>Number of Vacant rooms</td>
                                <td>{{property.numberOfProperty-property.bookedRooms}}</td>
                            </tr>   
                            <tr >
                                <td>Property Type</td>
                                <td>{{property.propertyType}}</td>
                            </tr>   
                            <tr >
                                <td>minimum security Deposit (in text)</td>
                                <td>{{property.minSecurityDeposit}}</td>
                            </tr>   
                            <tr >
                                <td> security Deposit (in figures)</td>
                                <td>{{property.securityDeposit}}</td>
                            </tr>   
                          
                        </tbody>    
                    </table>
                </div>
            </div>

                    <h4>Address of property: <span class="text-info" style="float: right;margin-right: 600px;">{{property.propertyAddress}}</span></h4>   
                    <h4>Property type: <span class="text-info">{{property.propertyType}}</span></h4>   
                    <h4> <a :href="agreement" id="agreementlink">  Agreement file link </a></h4>   
                    <h4> <a :href="checklist" id="checklistlink">  checklist file link </a></h4>   
                <hr>
                                                <!-- /////////////Rent Detail//////////// -->
                                                <!-- ownerNumber,companyCharge,ownerSecurityDeposit,propertyType, -->
                <div style="display:flex;flex-direction:row;justify-content:space-evenly">
                    <h4 class="alert alert-primary">Rent Detail</h4>
                </div>  
                <div>
    
                    <div class="tab-content" id="nav-tabContent">
                        <div  v-for="(val,key,ind) in property.rentDetails"  v-bind:key="ind" class=" active" :id="'list-'+ind" role="tabpanel" :aria-labelledby="'list-home-'+ind" style="background-color:white!important">
                            <h1>{{key}}</h1>
                          <div class="" style="display:flex;justify-content: space-between;">
                              <span class="text-info" style="font-weight:bold" > Monthly rent: </span><span class="text-dark"  style="font-weight:bold" >Rs {{val[0]}} only </span>
                          </div>
                       <div class="" style="display:flex;justify-content: space-between;">
                              <span class="text-info"  style="font-weight:bold" >Security Deposit : </span><span class="text-dark"   style="font-weight:bold" >{{val[1]}}</span>
                          </div>
                             
                       </div>
                       </div> 
                       </div>
                       <hr>
                       <!-- <div>
                           <p style="font-weight: bolder;">Minimum security deposit (in Rupees) {{property.minSecurityDeposit}}</p>
                           <p style="font-weight: bolder;">security deposit {{property.securityDeposit}}</p>
                       </div> -->
                       <!-- <h3>Price Array</h3>
                       <div v-for="prices in property.priceArray">
                           <p style="font-weight: bolder;"> {{prices}}</p>

                       </div> -->
                       <div>
                        <span style="font-size:2.0rem;color:red">House Features</span>
                        <div style="display:flex;flex-direction:row;flex-wrap: wrap;">
                            <div style="flex-basis:33%; margin-bottom:20px"
                                v-for="(val,key,index) in property.HouseFeature"  v-bind:key="index">
                                <p style="display:inline;font-weight: bolder;font-size: larger;" v-show="val!=0" > {{val}} {{key}}</p>
                            </div>
                        
                        </div>
                    </div>
                    <hr> 
                    <div>
                        <span style="font-size:2.0rem;color:red">Amenities</span>
                        <div style="display:flex;flex-direction:row;flex-wrap: wrap;">
                            <div style="flex-basis:50%; margin-bottom:20px"
                                v-for="(amenity,index) in property.amenities" v-bind:key="index">   
                                <p style="display:inline;font-weight: bolder;font-size: larger;"> {{amenity}} </p>
                            </div>
                          
                        </div>

                    </div>
                    <hr> 
                        <div class="my-2" v-for="(val,key,ind) in property.OtherCharges" v-bind:key="ind">
                            <div class="my-2">
                            <div class="my-2">
                            <div slot="header" style="font-weight:bold" class="my-2">
                               {{key}} : {{val[0]}} 
                               <i class="fa fa-chevron-down" ></i>
                            </div>
                            {{val[1]}}
                            </div>
                            </div>
                            
                        </div>
                     <hr>  
                     <div>
                        <span style="font-size:2.0rem;color:red">Nearby</span>
                        <div style="display:flex;flex-direction:row;flex-wrap: wrap;">
                            <div style="flex-basis:33%; margin-bottom:20px;"
                                v-for="(val,Nearby,index) in property.Nearby" v-bind:key="index" >
                               
                                <p style="display:inline;font-weight: bolder;font-size: larger;" v-show="val!=0"> {{val}} {{Nearby}}</p>
                            </div>
                         
                        </div>
                    </div>
                    <hr> 
                    <div >
                        <p v-for="(val,key,index) in property.NearPlaces" v-bind:key="index" style="font-weight:bold">
                            {{key}} : <span style="font-weight:normal">{{val}}</span></p>

                    </div>
                    <hr>
                    <h3>Rules</h3>
                    <ul>
                        <li class="list-group-item " style="margin:2px"
                            v-for="(rule,index) in property.rules" v-bind:key="index"><span class="text-info" style="font-weight: 900;">{{index+1}})  </span>{{rule}}
                        </li>
                    </ul>
                    <hr>
                    <h3>Responsibility</h3>
                        <ol>
                            <li class="list-group-item " style="margin:2px"
                            v-for="(res,index) in property.responsibility" v-bind:key="index"><span class="text-info" style="font-weight: 900;">{{index+1}})  </span> {{res}}
                            </li>
                        </ol>
                    <hr>
                    <div slot="header" style="font-weight:bold">
                        More About Property
                        <i class="fa fa-chevron-down" ></i>
                    </div>
                    <div>
                        {{property.description}}
                    </div>  
                    <hr>
                    <button class="btn btn-danger" :id="property.id" @click="deleteprop(property.id)">Delete</button> 

            </div>
        </div>  
    </div>    
    <div class="col-2"  >
        <h3 id="backbtn" @click="backToList" style="display: none;">< Back to home</h4>
            <div id="filterBox">
                <h3 class="text-success">Filters</h3>
           <label for="locationFilter">Location
               <input type="text" id="locationFilter" style="width:100%" v-on:keyup="locationFilter" v-model="vloc">
           </label>
           <label for="propIDFilter">Property ID
               <input type="text" id="propIDFilter" style="width:100%" v-on:keyup="propIDFilter" v-model="propID">
           </label>
           <label for="propertyNameFilter">Property name
               <input type="text" id="propertyNameFilter" style="width:100%" v-on:keyup="propertyNameFilter" v-model="vPname">
           </label>
           <label for="propertyManagerNameFilter">Property manager Name
               <input type="text" id="propertyManagerNameFilter" style="width:100%" v-on:keyup="propertyManagerNameFilter" v-model="PMname">
           </label>
           <label for="ownerNameFilter">Owner Name
               <input type="text" id="ownerNameFilter" style="width:100%" v-on:keyup="ownerNameFilter" v-model="owner">
           </label>
           <h3 class="text-dark" >Type</h3>
           <label for="private"  class="w-50">private room</label>
           <input type="checkbox" id="private" v-model="type" value="private rooms" @change="typeFilter(type)" >
           <label for="shared" class="w-50">shared room</label>
           <input type="checkbox" id="shared" v-model="type" value="shared rooms" @change="typeFilter(type)">
           <label for="entireHouse" class="w-50">entire house</label>
           <input type="checkbox" id="entireHouse" v-model="type" value="entire house" @change="typeFilter(type)">
           <h3 class="text-dark" >property type</h3>

           <label for="Assured property"  class="w-50">Assured property</label>
           <input type="checkbox" id="Assuredproperty" v-model="proptype" value="assured property" @change="proptypeFilter(proptype)" >
           <label for="Featured property"  class="w-50">RLL property</label>
           <input type="checkbox" id="Featuredproperty" v-model="proptype" value="rll property" @change="proptypeFilter(proptype)" >
           
        </div>
    </div>  
     

    </div>
</div>
    
    
<footer id="footer" class="text-center py-5 my-5 bg-dark text-light">
    <h1>Copyright AdminStrap, &copy; 2020</h1>
  </footer>
</div>

</body>
<script>
    ind=0;

  
 
</script>
<script>
    const vm = new Vue({
		
      el: '#app',
      data: {
        property:{},
        bed:'',
        managerName:[],
        IDprop:[],
        agreement:'',
        checklist:'',
        allProperties:[],
        showProperties:[],
        vloc:'',
        vPname:'',
        PMname:'',
        owner:'',
        type:[],
        proptype:[],
        propID:''
		
      },

     async created(){
         var ind=0;
        await firebase.firestore().collection("properties").orderBy('location').get().then((doc)=>{
            doc.forEach((docs)=>{
                if(ind==0){
                this.property = docs.data();}
                this.allProperties.push(docs.data());
                this.showProperties.push(docs.data());
                // this.managerName.push(docs.data().manager)
                // this.IDprop.push(docs.data().id)
                ind++;
            })
        })
        console.log(this.allProperties)
      
      },
      methods:{
        deleteprop: async function(id){
            if (confirm("Are you Sure!")) {
                console.log( "You pressed OK!");
            } else {
                console.log("You pressed Cancel!");return;
            }

             console.log(id);
             await firebase.firestore().collection('properties').doc(id).delete();


             window.location.reload();
        },
    typeFilter:function(type){
        this.vloc='',
        this.vPname='',
        this.PMname='',
        this.owner='',
        // this.type=[],
        this.proptype=[],
          this.allProperties=[]
          this.showProperties.forEach((doc)=>{
              var val = doc.type.toLowerCase();
              if(type.indexOf(val)!==-1){
                  this.allProperties.push(doc)
              }
          })
      },    
      propIDFilter:function(){
        this.vloc='',
        this.vPname='',
        this.PMname='',
        this.owner='',
        this.type=[],
        this.proptype=[],
        console.log(this.propID)
          this.allProperties=[]
          this.showProperties.forEach((doc)=>{
              var val = doc.id.toLowerCase();
              console.log(val)
              var index = val.indexOf(this.propID.toLowerCase());
              if(index!==-1){
                  this.allProperties.push(doc)
              }
          })
      },    
      proptypeFilter:function(type){
        this.vloc='',
        this.vPname='',
        this.PMname='',
        this.owner='',
        this.type=[],
        // this.proptype=[],
          this.allProperties=[]
          this.showProperties.forEach((doc)=>{
              var val = doc.propertyType.toLowerCase();
              if(type.indexOf(val)!==-1){
                  this.allProperties.push(doc)
              }
          })
      },    
      locationFilter: async function(){
        // this.vloc='',
        this.vPname='',
        this.PMname='',
        this.owner='',
        this.type=[],
        this.proptype=[],
        this.allProperties=[];  
        this.showProperties.forEach((doc)=>{
            var val = doc.location.toLowerCase();

            var index = val.indexOf(this.vloc.toLowerCase());
            if(index!==-1){
                this.allProperties.push(doc);
            } 
        })
     },
     propertyNameFilter: async function(){
        this.vloc='',
        // this.vPname='',
        this.PMname='',
        this.owner='',
        this.type=[],
        this.proptype=[],
        this.allProperties=[];  
        this.showProperties.forEach((doc)=>{
            var val = doc.name.toLowerCase();

            var index = val.indexOf(this.vPname.toLowerCase());
            if(index!==-1){
                this.allProperties.push(doc);
            } 
        })
    },
     propertyManagerNameFilter: async function(){
        this.vloc='',
        this.vPname='',
        // this.PMname='',
        this.owner='',
        this.type=[],
        this.proptype=[],
        this.allProperties=[];  
        this.showProperties.forEach((doc)=>{
            var val = doc.manager.toLowerCase();

            var index = val.indexOf(this.PMname.toLowerCase());
            if(index!==-1){
                this.allProperties.push(doc);
            } 
        })
    },
    ownerNameFilter: async function(){
        this.vloc='',
        this.vPname='',
        this.PMname='',
        // this.owner='',
        this.type=[],
        this.proptype=[],
        this.allProperties=[];  
        this.showProperties.forEach((doc)=>{
            var val = doc.ownerName.toLowerCase();

            var index = val.indexOf(this.owner.toLowerCase());
            if(index!==-1){
                this.allProperties.push(doc);
            } 
        })
    },
      
      backToList: function(){
        ele = document.getElementById('propertyShow')
        ele.style.display="none"
        ele = document.getElementById('propertyList')
        ele.style.display="block"
        ele = document.getElementById('backbtn')
        ele.style.display="none"
        ele = document.getElementById('filterBox')
        ele.style.display="block"
      },    
     show: async function(id){
              ele = document.getElementById('propertyShow')
              ele.style.display="block"
              ele = document.getElementById('propertyList')
              ele.style.display="none"
              ele = document.getElementById('backbtn')
              ele.style.display="block"
              ele = document.getElementById('filterBox')
              ele.style.display="none"
              await firebase.firestore().collection("properties").doc(id).get().then((doc)=>{
            this.property = doc.data()
        
            this.bed = doc.data().HouseFeature['Bedroom'];
        })
        // console.log(this.property)
        var tmp ='agreement/'+id+'.PDF'
        console.log(tmp)
        storage = firebase.storage();
        
        await storage.ref(tmp).getDownloadURL().then((url)=> {
            this.agreement = url
            // console.log(this.agreement)
        })
        tmp ='checklist/'+id+'.PDF'
        await storage.ref(tmp).getDownloadURL().then((url)=> {
            this.checklist = url
            
        })   
          },
             
      },
      mounted(){
       
      }
    })
  </script>
  <style>
      #backbtn:hover
          {
              color:blue;
              font-size: 2.2rem;
          }
      
  </style>
  <script>
// ownerNumber,companyCharge,ownerSecurityDeposit
    // firebase.firestore().collection('properties').get().then((docs)=>{
    //     var ind=0;
    //     docs.forEach((doc)=>{
    //         // console.log(ind)
    //         ind++;
    //         var bookedRooms;
    //         if(ind%2==0){
    //             bookedRooms=2;
                
    //         }
    //         else if(ind%2==1){
    //             bookedRooms=3
    //         }
            
    //         firebase.firestore().collection('properties').doc(doc.id).update({
    //             bookedRooms
    //     })
    //     })
    // })
  </script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
</html>